.env
.env.*
.devcontainer
.vscode




# Rails
/api/*.rbc
/api/.rspec
/api/coverage/
/api/spec/tmp
/api/*.orig
/api/rerun.txt
/api/pickle-email-*.html

/api/# Ignore all logfiles and tempfiles.
/api/log/*
/api/tmp/*
/api/log/.keep
/api/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/api/config/initializers/secret_token.rb


## Environment normalization:
/api/.bundle
/api/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/api/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/api/vendor/assets/bower_components
*.bowerrc
/api/bower.json

# Ignore pow environment settings
/api/.powenv

# Ignore Byebug command history file.
/api/.byebug_history

# Ignore node_modules
/api/node_modules/

# Ignore precompiled javascript packs
/api/public/packs
/api/public/packs-test
/api/public/assets
/api/public/uploads

# Ignore yarn files
/api/yarn-error.log
/api/yarn-debug.log*
/api/.yarn-integrity

# Ignore uploaded files in development
/api/storage/*
/api/storage/.keep


# Ignore master key for decrypting credentials and more.
/api/config/master.key

/api/.DS_Store




## Front
/front/node_modules
/front/.pnp
/front/.pnp.js

# testing
/front/coverage

# production
/front/build

# misc
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

